/* .content_details {
    padding-left: 40px;
} */
/* .info_list li {

    height: 36px;
    line-height: 36px;
    padding: 0 6px;
}

.info_list a:hover .news_title{
    color: #00a1e9;
}
.info_list a .news_title {
    width: 720px;
    overflow: hidden; 
    text-overflow: ellipsis; 
    white-space: nowrap; 
    transition: all .25s ease;
} */
