<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="keywords" content="重庆大学、材料科学与工程学院、建筑材料工程系、重庆大学材料科学与工程学院建筑材料工程系">
        <meta name="description" content="重庆大学材料科学与工程学院建筑材料工程系">
        <title>建筑材料工程系-材料科学与工程学院-重庆大学</title>
        <link rel="stylesheet" href="//at.alicdn.com/t/font_958564_av7vyz5klvg.css">
        <link rel="stylesheet" href="../static/assets/css/reset.css">
        <link rel="stylesheet" href="../static/assets/css/common.css">
        <link rel="stylesheet" href="../static/assets/css/index.css">
        <script src="../static/assets/javascript/jquery-2.1.4.min.js"></script>
    </head>
    <body>
        <div class="logo_wrapper">
            <a href="index.html">
                <img src="{{ logoURL }}" alt="重庆大学材料科学与工程学院建材系">
            </a>
            <div class="search right clearfix">
                <input type="text" placeholder="请输入关键字" class="left">
                <i class="iconfont icon-sousuo left"></i>
            </div>
        </div> 

        <ul class="header_nav clearfix">
            <script src = "../static/assets/javascript/config.js"></script>
            <script src="../static/assets/javascript/header.js"></script>
            <script>
                $(".header_nav").html(html).find("li").eq(0).addClass("current"); 
            </script>
        </ul>
        
        <div class="banner_wrapper">
            <img src="../static/assets/images/banner_1.jpg" alt="">
        </div>

        <div class="out_wrapper clearfix">
            <div class="gczx left clearfix">
                <div class="left_part left">
                   <img src="../static/assets/images/gczx.jpg" alt="重庆市高性能混凝土技术研究中心">
                   <a href="###">重庆市高性能混凝土技术研究中心</a>
                </div>
                <div class="right_info right">
                        重庆市高性能混凝土工程技术研究中心，于2013年11月由重庆市科委批准建立并正式对外开放。中心依托重庆大学材料科学与工程一级学科博士点和博士后科研流动站以及新型建筑材料与工程重庆市重点实验室，拥有“材料学”国家级重点学科和重庆市级......
                </div>
            </div>
            <div class="clearfix for_out left">
                <a href="info_list.html?id=xsjz" class="left">
                    <div>
                        <i class="iconfont icon-jiangzuo"></i>
                        <span>学术讲座</span>  
                    </div>
                    
                </a>
                <a href="info_list.html?id=xsxx" class="right">
                    <div>
                        <i class="iconfont icon-xueshuyanjiu"></i>
                        <span>学术信息</span>  
                    </div>
                </a>
                <a href="jzclgcx.html?id=hzjl&kw=xqhz" class="left">
                    <div>
                        <i class="iconfont icon-hezuoshixin"></i>
                        <span>合作交流</span>    
                    </div>
                </a>
                
                <a href="###" class="right">
                    <div>
                        <i class="iconfont icon-qiquankaihuyuyue01"></i>
                        <span>实验室预约</span>
                    </div>
                </a>
            </div>
        </div>

        <div class="out_wrapper clearfix">
            <div class="left info_item">
                <div class="info_title">
                    <span>新闻中心</span>
                    <a href="info_list.html?id=xwzx" class="right">MORE</a>
                </div>
                <ul class="info_list">
                    <li>
                        <a href="###">
                            <span class="left news_title">黑龙江省城镇建设研究所党委书记朱卫中教授莅临我院做专题讲座</span>
                            <span class="right time">2017-12-23</span>
                        </a>
                    </li>
                    <li>
                        <a href="###">
                            <span class="left news_title">黑龙江省城镇建设研究所党委书记朱卫中教授莅临我院做专题讲座</span>
                            <span class="right time">2017-12-23</span>
                        </a>
                    </li>
                    <li>
                        <a href="###">
                            <span class="left news_title">黑龙江省城镇建设研究所党委书记朱卫中教授莅临我院做专题讲座</span>
                            <span class="right time">2017-12-23</span>
                        </a>
                    </li>
                    <li>
                        <a href="###">
                            <span class="left news_title">黑龙江省城镇建设研究所党委书记朱卫中教授莅临我院做专题讲座</span>
                            <span class="right time">2017-12-23</span>
                        </a>
                    </li>
                    <li>
                        <a href="###">
                            <span class="left news_title">黑龙江省城镇建设研究所党委书记朱卫中教授莅临我院做专题讲座</span>
                            <span class="right time">2017-12-23</span>
                        </a>
                    </li>
                    <li>
                        <a href="###">
                            <span class="left news_title">黑龙江省城镇建设研究所党委书记朱卫中教授莅临我院做专题讲座</span>
                            <span class="right time">2017-12-23</span>
                        </a>
                    </li>
                </ul> 
            </div>
            <div class="right info_item">
                <div class="info_title">
                    <span>通知公告</span>
                    <a href="info_list.html?id=tzgg" class="right">MORE</a>
                </div>
                <ul class="info_list">
                    <li>
                        <a href="###">
                            <span class="left news_title">黑龙江省城镇建设研究所党委书记朱卫中教授莅临我院做专题讲座</span>
                            <span class="right time">2017-12-23</span>
                        </a>
                    </li>
                    <li>
                        <a href="###">
                            <span class="left news_title">黑龙江省城镇建设研究所党委书记朱卫中教授莅临我院做专题讲座</span>
                            <span class="right time">2017-12-23</span>
                        </a>
                    </li>
                    <li>
                        <a href="###">
                            <span class="left news_title">黑龙江省城镇建设研究所党委书记朱卫中教授莅临我院做专题讲座</span>
                            <span class="right time">2017-12-23</span>
                        </a>
                    </li>
                    <li>
                        <a href="###">
                            <span class="left news_title">黑龙江省城镇建设研究所党委书记朱卫中教授莅临我院做专题讲座</span>
                            <span class="right time">2017-12-23</span>
                        </a>
                    </li>
                    <li>
                        <a href="###">
                            <span class="left news_title">黑龙江省城镇建设研究所党委书记朱卫中教授莅临我院做专题讲座</span>
                            <span class="right time">2017-12-23</span>
                        </a>
                    </li>
                    <li>
                        <a href="###">
                            <span class="left news_title">黑龙江省城镇建设研究所党委书记朱卫中教授莅临我院做专题讲座</span>
                            <span class="right time">2017-12-23</span>
                        </a>
                    </li>
                </ul> 
            </div>
        </div>
        
        <ul class="out_wrapper friend_link clearfix">
            <li class="left"><a href="###">重庆大学材料科学与工程学院</a></li>
            <li class="left"><a href="###">重庆市建科院</a></li>
            <li class="left"><a href="###">重庆大学分析测试中心</a></li>
            <li class="left"><a href="###">重庆市硅酸盐学会</a></li>
            <li class="left"><a href="###">重庆市混凝土协会</a></li>
            <li class="left"><a href="###">重庆市建设质量检测协会</a></li>
        </ul>

        <div class="out_wrapper footer_wrapper">
            <p>(C) Copyright Chongqing University All Rights Reserved.</p>
            <p>重庆大学 版权所有2012 地址：重庆市沙坪坝区沙正街174号 邮编400044</p>
            <p>渝ICP备122333333号</p>  
        </div>
        
        <script src="../static/assets/javascript/slide.js"></script>
        <script> 
            $(".news_title").on("mouseenter", function() {
                $(this).attr("title", $(this).html());
            });
        </script>
    </body>
</html>  