<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="keywords" content="重庆大学、材料科学与工程学院、建筑材料工程系、重庆大学材料科学与工程学院建筑材料工程系">
        <meta name="description" content="重庆大学材料科学与工程学院建筑材料工程系">
        <title>建筑材料工程系-材料科学与工程学院-重庆大学</title>
        <link rel="stylesheet" href="//at.alicdn.com/t/font_958564_beq4zwl49ia.css">
        <link rel="stylesheet" href="../static/assets/css/reset.css">
        <link rel="stylesheet" href="../static/assets/css/common.css">
        <link rel="stylesheet" href="../static/assets/css/sztd.css">
        <script src="../static/assets/javascript/jquery-2.1.4.min.js"></script>
        <script src = "../static/assets/javascript/config.js"></script>
    </head>
    <body>
        <div class="logo_wrapper">
            <a href="index.html">
                <img src="../static/assets/images/logo.png" alt="重庆大学材料科学与工程学院建材系">
            </a>
            <div class="search right clearfix">
                <input type="text" placeholder="请输入关键字" class="left">
                <i class="iconfont icon-sousuo left"></i>
            </div>
        </div> 

        <ul class="header_nav clearfix">
            <script src="../static/assets/javascript/header.js"></script>
            <script>
                $(".header_nav").html(html); 
            </script>
        </ul>
        
        <div class="banner_wrapper">
            <img src="../static/assets/images/banner_1.jpg" alt="">
        </div>

        <div class="out_wrapper clearfix">
            <div class="location">
                <i class="iconfont icon-weizhi"></i>当前位置:
                <a href="index.html">首页</a>>>
                <a href="sztd.html">师资团队</a>
            </div>
            <div class="content_details">
                <div class="clearfix top_box">
                    <img src="../static/assets/images/王冲.jpg" alt="" class="left">
                    <div class="left right_info">
                        <div><span class="td_title">姓名</span><span class="td">王冲</span></div>
                        <div><span class="td_title">性别</span><span class="td">男</span></div>
                        <div><span class="td_title">政治面貌</span><span class="td">党员</span></div>
                        <div><span class="td_title">职称</span><span class="td">教授/博导</span></div>
                        <div><span class="td_title">学历</span><span class="td">研究生</span></div>
                        <div><span class="td_title">学位</span><span class="td">博士</span></div>
                        <div><span class="td_title">email</span><span class="td">wangchnx@126.com</span></div>
                    </div>
                </div>
                <div class="item_intro">
                    <div class="td_title">学习工作经历</div>
                    <div>1990年—1994年，重庆建筑大学，材料科学与工程系，本科</div>
                    <div>1994年—2000年，重庆建筑大学，材料科学与工程系，助教、讲师</div>
                    <div>1997年—2000年，重庆建筑大学，材料科学与工程系，材料学硕士研究生</div>
                    <div>2000年—2005年，重庆大学，材料科学与工程学院，材料学博士研究生</div>
                    <div>2000年—至今，重庆大学，讲师、副教授、教授</div>
                    <div>2006年—2007年，澳大利亚昆士兰大学，访问学者</div>
                </div>
                <div class="item_intro">
                    <div class="td_title">社会兼职</div>
                    <div>中国硅酸盐学会水泥分会理事，中国硅酸盐学会固废分会煤矸石与粉煤灰专委会委员，中国建筑学会建筑</div>
                    <div>材料分会大体积混凝土应用技术专业委员会委员，重庆市混凝土协会专家组成员</div>
                    <div>本学科国内外核心学术刊物ACI Materials Journal 、Construction & Building Materials、硅酸盐学报等审稿专家。</div>
                </div>
                <div class="item_intro">
                    <div class="td_title">主讲课程</div>
                    <div>本科生课程：《无机材料科学基础》、《土木工程材料》、《建筑材料》 </div>
                    <div>研究生课程：《建设工程质量控制与管理》</div>
                </div>
                <div class="item_intro">
                    <div class="td_title">主要研究方向</div>
                    <div>1.  高性能混凝土与超高性能混凝土</div>
                    <div>2.  电渗脉冲在混凝土中的应用技术</div>
                    <div>3.  快凝快硬高强混凝土</div>
                    <div>4.  自密实混凝土</div>
                    <div> 5.  固体废弃物建材资源化</div>
                </div>
                <div class="item_intro">
                    <div class="td_title">科研项目</div>
                    <div>1.  国家自然基金面上项目“电场影响下水泥混凝土的硫酸盐侵蚀行为与机理”（51572038），项目负责人</div>
                    <div>2.  西部交通项目：水泥细度与组成成分对桥梁混凝土性能影响及对策研究，子课题负责人</div>
                    <div>3.  中央高校基本科研业务费面上项目：电渗脉冲用于混凝土抗硫酸盐侵蚀试验方，课题负责人</div>
                    <div>4.  重庆市自然基金：微钢纤维增韧超高强高性能混凝土的方法与机理研究，课题负责人</div>
                    <div>5.  重庆市建设科技项目：电渗脉冲用于地下结构混凝土抗渗防潮技术研究，课题负责人</div>
                </div>
                <div class="item_intro">
                    <div class="td_title">论文及专著</div>
                    <div>[1].  Yaoling, Luo,Chong, Wang, Chaoqun, Luo. Effect of electrical field on TSA failure of cement-based materials[J]. Cement and Concrete Research, 2016 , (90): 19-26.（SCI检索）</div>
                    <div>[2].  Qian, Huang,Chong, Wang, Qianpu, Zeng. Deterioration of mortars exposed to sulfate attack under electrical field. Construction and Building Materials, 2016, (117): 121-128.（SCI检索）</div>
                    <div>[3].   Qian, Huang, Chong, Wang, Chaoqun, Luo. Effect of mineral admixtures on sulfate resistance of mortars under electrical field. Advances in Cement Research, 2016（SCI检索）</div>
                    <div>[4].  罗遥凌,王冲, 彭小芹. 电场及低温环境下不同镁盐和硫酸盐组合对水泥基材料碳硫硅钙石侵蚀的影响. 建筑材料学报, 2016, (19): 998-1003.（EI检索）</div>
                    <div>[5].  黄谦, 王冲,杨长辉. 电场与硫酸盐侵蚀共同作用下混凝土的劣化及其机理 . 硅酸盐学报, 2016, (44): 239-245（EI检索）</div>
                </div>
                <div class="item_intro">
                    <div class="td_title">专利</div>
                    <div>1.  一种水泥混凝土抗硫酸盐腐蚀的测试方法及测试装置（已获权）</div>
                    <div>2.  水泥混凝土抗TSA侵蚀加速试验装置及方法（获权）</div>
                    <div>3.  一种促硬剂、基于该促硬剂的无机保温砂浆及制备、喷涂该无机保温砂浆的方法（已获权）</div>
                </div>
                <div class="item_intro">
                    <div class="td_title">表彰及奖励</div>    
                </div>
            </div>
        </div>

       

        <div class="out_wrapper footer_wrapper">
            <p>(C) Copyright Chongqing University All Rights Reserved.</p>
            <p>重庆大学 版权所有2012 地址：重庆市沙坪坝区沙正街174号 邮编400044</p>
            <p>渝ICP备122333333号</p>  
        </div>
        <script src="../static/assets/javascript/resize.js"></script>
        <script src="../static/assets/javascript/slide.js"></script>
        <script src="../static/assets/javascript/util.js"></script>
        <script>
            let id = getQueryletiable("id"),
                kw = getQueryletiable("kw");
                for(let i = 0; i < head_menue.length - 1; i++) { // // head_menue.length - 1 校企合作不是头部导航
                    if(head_menue[i].id === id) {
                        $(".header_nav").find("li").eq(i).addClass("current");
                    }
                }
            console.log(id)
        </script>
    </body>
</html>  